.pagination {
  padding: 1.5em 0;

  .review-period {
    font-size: 36px;
  }

  .selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.btn {
  padding: 1.8em;
  background-color: transparent;
  background-size: 100%;
}

.button-back {
  margin-right: 0.5em;

  background-image: url('/assets/images/pagination_back.png');
}
.button-back:active {
  background-image: url('/assets/images/pagination_back_inactive.png');
}

.button-forward {
  margin-left: 0.5em;

  background-image: url('/assets/images/pagination_forward.png');
}
.button-forward:active {
  background-image: url('/assets/images/pagination_forward_inactive.png');
}
