.pagination {
  padding: 1.5em 0;

  .review-period {
    font-size: 36px;
  }

  .selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.pagination-button {
  padding: 1.8em;
  background-color: transparent;
  background-size: 100%;

  border: none;
  outline: none;
}

.pagination-button:hover {
  cursor: pointer;
}

.button-back {
  margin-right: 0.5em;

  background-image: url('/assets/images/pagination_back.png');
}
.button-back:disabled {
  background-image: url('/assets/images/pagination_back_inactive.png');
  border: none;
}
.button-back:disabled:hover {
  cursor: default;
}
.button-forward {
  margin-left: 0.5em;

  background-image: url('/assets/images/pagination_forward.png');
}
.button-forward:disabled {
  background-image: url('/assets/images/pagination_forward_inactive.png');
}
.button-forward:disabled:hover {
  cursor: default;
}
