<div class="row pagination">
  <div class="col-md-1 selector">
    <button type="button"
            class="pagination-button button-back"
            (click)="previousPeriod()"
            [disabled]="backDisabled"
    ></button>
    <button type="button"
            class="pagination-button button-forward"
            (click)="nextPeriod()"
            [disabled]="frontDisabled"
    ></button>
  </div>
  <div class="col-md ">
    <span class="review-period">{{tableReviewPeriod.from | date:'MMM dd' }} – {{tableReviewPeriod.to | date:'MMM dd'}}, {{tableReviewPeriod.to | date:'y'}}</span>
  </div>
</div>
<div class="row dashboard-container">
  <div class="col-md ">
    <table class="table dashboard-table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Predicted, kWh</th>
        <th>Produced, kWh</th>
        <th>Price, ETH/kWh</th>
        <th>Price, EUR/kWh</th>
        <th>kWh produced/sold</th>
        <th>Received payment</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of productionReview">
        <td>{{row.date}}</td>
        <td>{{row.prediction}}</td>
        <td>{{row.production}}</td>
        <td>{{row.priceEth}}</td>
        <td>{{row.priceEur}}</td>
        <td>
          <div *ngIf="row.production">{{row.sold}}/{{row.production}}</div>
          <div *ngIf="!(row.production) && row.prediction">{{row.sold}}/{{row.prediction}}</div>
        </td>
        <td>
          <div *ngIf="row.receivedEth">{{row.receivedEth}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
