<div class="row pagination">
  <div class="col-md-1 selector">
    <button type="button"
            class="pagination-button button-back"
            (click)="previousPeriod()"
            [disabled]="backDisabled"
    ></button>
    <button type="button"
            class="pagination-button button-forward"
            (click)="nextPeriod()"
            [disabled]="frontDisabled"
    ></button>
  </div>
  <div class="col-md ">
    <span class="review-period">{{tableReviewPeriod.from | date:'MMM dd' }} – {{tableReviewPeriod.to | date:'MMM dd'}}, {{tableReviewPeriod.to | date:'y'}}</span>
  </div>
</div>
<div class="row dashboard-container">
  <div class="col-md ">
    <table class="table dashboard-table">
      <thead>
      <tr>
        <th class="text-right">Date</th>
        <th class="text-right">Predicted, kWh</th>
        <th class="text-right">Produced, kWh</th>
        <th class="text-right">Price, ETH/kWh</th>
        <th class="text-right">Price, EUR/kWh</th>
        <th class="text-right">kWh produced/sold</th>
        <th class="text-right">Received payment</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of productionReview">
        <td class="text-right">{{row.date | date: 'MM-dd'}}</td>
        <td class="text-right"><span *ngIf="(row.production) || row.prediction">{{row.prediction}}</span></td>
        <td class="text-right"><span *ngIf="(row.production) || row.prediction">{{row.production}}</span></td>
        <td class="text-right"><span *ngIf="(row.production) || row.prediction">{{row.priceEth}} ETH</span></td>
        <td class="text-right"><span *ngIf="(row.production) || row.prediction">{{row.priceEur}} Eur</span></td>
        <td class="text-right">
          <div class="progressBarContainer" *ngIf="(row.production) || row.prediction">
            <div class="progressbar">
              <div [ngStyle]="{width: (!(row.production) && row.prediction ? (row.prediction/row.sold) : (row.production/row.sold))*100 + '%'}"></div>
            </div>
            <span *ngIf="row.production">{{row.sold}}/{{row.production}}</span>
            <span *ngIf="!(row.production) && row.prediction">{{row.sold}}/{{row.prediction}}</span>
          </div>

        </td>
        <td class="text-right">
          <div *ngIf="row.receivedEth">{{row.receivedEth}} ETH</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
