@import "styles/shared/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Platform Web';
  src: url('/assets/fonts/Platform-Bold-Web.eot');
  src: url('/assets/fonts/Platform-Bold-Web.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Platform-Bold-Web.woff2') format('woff2'),
  url('/assets/fonts/Platform-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

.btn-primary.power-button {
  background-color : $power-blue;
  font-family: 'Roboto', Sans-serif;
  font-weight: 600;
  font-size: 24px;

  padding: 0.7em 1em;

  // Required in order not to push button when added on hover
  border: '1px solid transparent';

  border-radius: 0;
}
.btn-primary.power-button:hover {
  background-color: $power-white;
  color: $power-blue;

  border-color: $power-blue;
}
.btn-primary.power-button:disabled {
  background-color : $power-grey;
  border-color: transparent;
}
.btn-primary.power-button:disabled:hover {
  background-color : $power-grey;
  color: $power-white;
  border-color: transparent;
}

.power-button.navigation-back {
  border: none;
  outline: none;

  background-color: transparent;
  color: $power-blue;

  font-size: 20px;
  font-weight: 400;

  padding: 0.7em 0em;

  float: left;

  i {
    padding-right: 0.4em;
  }
}
.power-button.navigation-back:hover {
  border: none;
  background-color: transparent;
  color: $power-blue;
}

.power-button.navigation-next {
  outline: none;
  border-radius: 0;

  font-size: 20px;
  font-weight: 400;

  float: right;

  i {
    padding: 0 0.4em;
  }
}

html, body, app-root {
  height: 100%;
  font-family: 'Roboto', 'Sans-serif';
  font-weight: 400;
}
