@import "../../../styles/shared/variables.scss";

.header {
  height: 110px;

  a {
    height: 100%;
  }

  .logo {
    height: 100%;
    padding: 1.5em;
  }
}

.registration-container {
  height: 100%;
  background-color: $power-background-grey;
  overflow: auto;

  .col {
    padding: 0
  }
}
