@import "../../../styles/shared/variables.scss";

img {
  height: 100%;
  padding-left: 34px;
  margin-top: -14px;
}

.header {
  background-color: $power-grey;
  height: 110px;
}

.main-wrap {
  position: absolute;
  top: 110px;
  bottom: 90px;
  width: 100%;
  background-color: $power-grey;
  overflow: auto;
}

.footer {
  background-color: $power-grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
}
