<div class="row">
  <div class="col-md">
    <div class="row">
      <app-wallet-balance></app-wallet-balance>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="row">
          Needs to buy this week
        </div>
        <div class="row">
          {{consumedTotal}} kWh
        </div>
      </div>
      <div class="col-md">
        <div class="row">
          Already bought this week
        </div>
        <div class="row">
          150 kWh
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="row">
      <div class="col-md">
        Paveikslėlis
        <div class="row">
          Market price vs paid price, Eur/MWh
        </div>
        Paveikslėlis.
        <div class="row" *ngFor="let row of marketPricesReview">
          <div class="md">{{row.date}}</div>
          <div class="md">{{row.marketPrice}}</div>
          <div class="md">{{row.myPrice}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
