@import "../../../styles/shared/variables.scss";

.container {
  background-color: $power-white;

  padding: 1.8em;

  width: 930px;

  h1 {
    font-family: 'Platform Web', 'Sans-serif';
    font-weight: bold;
    font-size: 56px
  }

  .step-number {
    padding-top: 1em;
    float: right;

    font-size: 20px;
  }
}

.form {
  input {
    height: 57px;
    margin: 13px 0 25px 0;
    border: 3px solid $power-grey;
    border-radius: 0;
  }

  .field {
    width: 600px;
  }


  label {
    font-family: 'Roboto', Sans-serif;
    font-size: 17px;
    font-weight: 500;
  }
}

