<div class="row pagination">
  <div class="col-md-1 selector">
    <button type="button"
            class="pagination-button button-back"
            (click)="previousPeriod()"
            [disabled]="backDisabled"
    ></button>
    <button type="button"
            class="pagination-button button-forward"
            (click)="nextPeriod()"
            [disabled]="frontDisabled"
    ></button>
  </div>
  <div class="col-md ">
    <span class="review-period">{{tableReviewPeriod.from | date:'MMM dd' }} – {{tableReviewPeriod.to | date:'MMM dd'}}, {{tableReviewPeriod.to | date:'y'}}</span>
  </div>
</div>
<div class="row dashboard-container">
  <div class="col-md ">
    <table class="table dashboard-table">
      <thead>
      <tr>
        <th class="text-right" style="width: 70px">Date</th>
        <th class="text-right">Usage</th>
        <th class="text-right">Tokens</th>
        <th class="text-right">Price, ETH/kWh</th>
        <th class="text-right">Price, EUR/kWh</th>
        <th class="text-right">Sum</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let row of consumptionReview">
        <tr>
          <td class="text-right">{{row.date | date: 'MM-dd'}}</td>
          <td class="text-right">
            <span *ngIf="row.tokens > 0">{{row.consumption}}/{{row.prediction}}</span>
            <span *ngIf="row.tokens <= 0">{{row.prediction}} kWh predicted</span>
          </td>
          <td class="text-right"><span *ngIf="row.tokens > 0">{{row.prediction}}</span></td>
          <td class="text-right"><span *ngIf="row.tokens > 0">{{row.priceEth}}</span></td>
          <td class="text-right"><span *ngIf="row.tokens > 0">{{row.priceEur}}</span></td>
          <td class="text-right">
            <div *ngIf="row.tokens > 0 && row.paidEth">{{row.paidEth}}</div>
          </td>
          <td class="text-right">
            <div *ngIf="isAfter(row.date)">
              <div *ngIf="row.tokens > 0; else detailsButton">
                <button type="button" class="btn btn-primary power-button" id="send-button"  data-toggle="modal" data-target="#tokensTransaction">
                <i class="fa fa-exchange"></i> Transfer</button>
              </div>
              <ng-template #detailsButton>
                <a [hidden]="row.expanded" class="row-action" (click)="loadDetails(row.date, row.prediction); row.expanded = true;">
                  <strong>+</strong> <u>Show details</u>
                </a>
                <a [hidden]="!row.expanded" class="row-action" (click)="row.expanded = false">
                  <strong>&mdash;</strong> Hide details
                </a>
              </ng-template>
            </div>
          </td>
        </tr>
        <ng-container *ngFor="let detail of details[row.date.getTime()]">
          <tr [hidden]="!row.expanded" class="expanded-row">
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right">
              <span>
                <img *ngIf="detail.source == 0" class="img-fluid circle" src="/assets/images/icon-sun.svg">
                <img *ngIf="detail.source == 2" class="img-fluid circle" src="/assets/images/icon-hydro.svg">
                <img *ngIf="detail.source == 1" class="img-fluid circle" src="/assets/images/icon-wind.svg">
              </span>
              {{detail.tokens}} kWh</td>
            <td class="text-right"><span *ngIf="detail.priceEth != 0">{{detail.priceEth}} ETH</span></td>
            <td class="text-right"><span *ngIf="detail.priceEth != 0">{{detail.priceEur}} EUR</span></td>
            <td class="text-right"><span *ngIf="detail.priceEth != 0">{{detail.sum}} ETH</span></td>
            <td class="text-right">
              <button (click)="buyTokens(detail.address, detail.tokens, detail.date, detail.sum)" [disabled]="detail.priceEth == 0"
                      type="button" class="btn btn-primary power-button" id="send-button">
                <i class="fa fa-cart-arrow-down"></i> Buy</button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div id="tokensTransaction" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Transfer tokens as a gift</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="main-form-block">
          <div class="form-group">
            <div class="form-group">
              <div class="row">
                <div class="col-md">
                  <label>Recipient Etherium Wallet ID</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <input name="walletId" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md">
                  <label>Amount of tokens</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <input name="amountOfTokens" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary power-button mr-auto" data-dismiss="modal">
        <i class="fa fa-exchange"></i> Transfer</button>
      </div>
    </div>
  </div>
</div>
