@import "../../../styles/shared/variables";

.pagination {
  padding: 1.5em 0;

  .review-period-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5em;

    .review-period {
      font-size: 34px;
    }
  }


  .selector {
    display: inline-block;
    vertical-align: middle;
    justify-content: flex-end;
    align-items: center;
  }
}

.pagination-button {
  padding: 1.8em;
  background-color: transparent;
  background-size: 100%;

  border: none;
  outline: none;
}

.pagination-button:hover {
  cursor: pointer;
}

.button-back {
  background-image: url('/assets/images/pagination_back.png');
}
.button-back:disabled {
  background-image: url('/assets/images/pagination_back_inactive.png');
  border: none;
}
.button-back:disabled:hover {
  cursor: default;
}
.button-forward {
  margin-left: 0.5em;

  background-image: url('/assets/images/pagination_forward.png');
}
.button-forward:disabled {
  background-image: url('/assets/images/pagination_forward_inactive.png');
}
.button-forward:disabled:hover {
  cursor: default;
}

.dashboard-container {
  .dashboard-table {

    thead th {
      font-weight: normal;
      border-top: 0px;
      border-bottom: 0px;
    }
    tbody {

      .circle {
        border-radius: 50%;
        background-color: $power-yellow;
      }

      .power-button {
        font-size: inherit;
        padding: 0.4em 1em;
      }

      .power-button:focus {
        box-shadow: none;
      }

      .expanded-row {

        height: 4.5em;

        td {
          border-top: 1px solid $power-background-grey;
        }
      }

      tr {
        background-color: $power-white;
        td {
          border-top: 3px solid $power-background-grey;
        }

        .row-action {
          color: $power-blue;
          cursor: pointer;
        }
      }

      .progressbar {
        background-color: $power-grey;
        max-width: 150px;
        font-size: 9px;
        width: 100px;
        display: inline-block;
        margin-bottom: 4px;
      }
      .progressbar > div {
        background-color: $power-green;
        height: 4px;
        font-size: 12px;
      }
      .progressBarContainer span {
        display: inline-block;
      }
    }
  }
}


.review-row {
  height: 4.5em;

  .review-cell {
    vertical-align: middle;
  }
}

#tokensTransaction {

  .modal-content {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  }

  .modal-header {
    border-bottom: 0px;
  }

  .modal-footer {
    border-top: 0px;
  }

  .modal-body {
    padding-bottom: 0px;
  }

  .power-button {
    font-size: inherit;
    padding: 0.5em 1em;
  }

  .main-form-block {

    .form-control {
      padding: 0.5em;
      margin-top: 0.3em;
      border: 2px solid $power-grey;
      border-radius: 0;
    }

    .form-control.failed-validation {
      border-color: $power-red;
    }

    .form-control:disabled {
      background-color: $power-background-grey;
    }

    label {
      font-family: 'Roboto', Sans-serif;
      font-size: inherit;
      margin: 0;
    }

    .validation-error {
      color: $power-red;
      font-size: inherit;
    }

  }

  input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
