<div class="row">
  <div class="col-md">
    <button (click)="previousPeriod()" type="button" class="btn btn-primary">Previous period</button>
  </div>
  <div class="col-md">
    <button (click)="nextPeriod()" type="button" class="btn btn-primary">Next period</button>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Usage</th>
      <th>Required tokens</th>
      <th>Price, ETH/kWh</th>
      <th>Price, EUR/kWh</th>
      <th>Received payment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of consumptionReview">
      <td>{{row.date}}</td>
      <td>{{row.consumption}}/{{row.prediction}}</td>
      <td>{{row.prediction}}</td>
      <td>{{row.priceEth}}</td>
      <td>{{row.priceEur}}</td>
      <td>
        <div *ngIf="row.paidEth">{{row.paidEth}}</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
