<div class="container-fluid background-container">
  <div class="row header">
    <a href="http://www.wepwr.network" class="logo-link">
      <img class="img-fluid" src="/assets/images/logo.svg">
    </a>
  </div>
  <div class="row">
    <div class="col landing-container">
      <div class="row">
        <div class="col landing-header">
          <p>
            Join WePower green energy P2P exchange platform.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button [routerLink]="connectedToWallet ? '/register/consumer' : null"
                  routerLinkActive="active"
                  type="button"
                  class="btn btn-primary power-button">
            Register a household</button>
          <button [routerLink]="connectedToWallet ? '/register/plant' : null"
                  routerLinkActive="active"
                  type="button"
                  class="btn btn-primary power-button">
            Register a plant</button>
          <div *ngIf="connectedToWallet == false" class="warning">
            <p>
              <i class="fa fa-info-circle"></i>
              To use application you have to be authenthicated in Ethereum account
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
