@import "../../../styles/shared/variables";
@import '../form-styles';

.preview-container {
  background-color: $power-white;

  padding: 1.8em;

  width: 930px;

  h1 {
    font-family: 'Platform Web', 'Sans-serif';
    font-weight: bold;
    font-size: 56px
  }

  .step-number {
    padding-top: 1em;
    float: right;

    font-size: 20px;
  }
}

.note {
  background-color: $power-background-grey;

  margin: 3em 0;

  padding: 1em 0.5em;

  p {
    font-size: 20px;

    padding: 0em;
    margin: 0em;
  }
}
