@import '../form-styles';



.household-size-block {
  width: 710px;
}

.radio-toolbar {
  margin-top: 0.8em;
  width: 712px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 222px;
  margin-right: 0.75em;
  border: 0.2em solid $power-grey;
  text-align: center;
  position: relative;
}

.radio-toolbar input[type="radio"]:checked + label {
  border: 0.2em solid $power-yellow;
}

.fa-home.size0 {
  font-size: 26px;
}

.fa-home.size1 {
  font-size: 32px;
}

.fa-home.size2 {
  font-size: 38px;
}

.icon-box[_ngcontent-c2] {
  background-color: #e0e0e0;
  width: 70px;
  height: 70px;
  margin: 0.2em 0.25em 0.2em 0.25em;
  padding: 1.3em;
  float: left;
}

.description {
  float: left;
  padding: 1.55em;

}
