<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Register your household</h1>
    </div>
    <div class="col-md-3">
      <span class="step-number">Step 1 of 2</span>
    </div>
  </div>

  <div class="row main-form-block">
    <div class="col">
      <form #consumerForm="ngForm">

        <div class="form-group">
          <div class="row">
            <div class="col-md">
              <label>Ethereum Wallet ID</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <input class="form-control" [(ngModel)]="formData.walletId" name="walletId" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md">
              <label>Household area</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input mdInput
                     [mdAutocomplete]="auto"
                     [(ngModel)]="formData.areaName"
                     (keyup)="updateFilteredAreas(formData.areaName)"
                     class="form-control {{areaName.errors && (areaName.dirty || areaName.touched) ? 'failed-validation' : ''}}"
                     name="areaName"
                     #areaName="ngModel"
                     [correctArea]="supportedAreas"
                     required>

              <div *ngIf="areaName.errors && (areaName.dirty || areaName.touched)"
                   [hidden]="!areaName.errors.required"
                   class="validation-error">
                Select Household area
              </div>

              <div *ngIf="areaName.errors && (areaName.dirty || areaName.touched)"
                   [hidden]="!areaName.errors.correctArea"
                   class="validation-error">
                Enter a valid Household area
              </div>

              <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let area of filteredAreas" [value]="area">
                  {{ area }}
                </md-option>
              </md-autocomplete>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <label>Meter ID</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input class="form-control" [(ngModel)]="formData.walletId" name="meterId" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <label>Household electricity consumption, kWh/month</label>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <input class="form-control {{consumption.errors && (consumption.dirty || consumption.touched) ? 'failed-validation' : ''}}"
                     [(ngModel)]="formData.consumption"
                     name="consumption"
                     #consumption="ngModel"
                     pattern="^\d+[,.]?\d*"
                     required>
              <div *ngIf="consumption.errors && (consumption.dirty || consumption.touched)"
                   [hidden]="!consumption.errors.required"
                   class="validation-error">
                  Enter Household electricity consumption, kWh/month
              </div>
              <div *ngIf="consumption.errors && (consumption.dirty || consumption.touched)"
                   [hidden]="!consumption.errors.pattern"
                   class="validation-error">
                Household electricity consumption must be a number
              </div>
            </div>
          </div>
        </div>


        <div class="form-group radio-group">
          <div class="row">
            <div class="col">
              <label>Household size</label>
            </div>
          </div>

          <div class="row">
            <div class="col radio-toolbar">
              <div *ngFor="let houseSize of supportedHouseSizes; let i = index"
                    class="radio-container">
                <input type="radio" name="radios" id="radio{{i}}"
                       [(ngModel)]="formData.houseSizeCode"
                       [value]="houseSize.code">
                <label for="radio{{i}}">
                  <div class="radio-content">
                    <div class="icon-box">
                      <i class="fa fa-home size{{i}}"></i>
                    </div>
                    <div class="description">
                      {{houseSize.description}} m<sup>2</sup>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="navigation-block">
          <div class="row">
            <div class="col-md">
              <button routerLink="/landing" type="button" class="btn btn-primary power-button navigation-back left">
                <i class="fa fa-chevron-left fa-sm"></i><span>Back</span>
              </button>
            </div>
            <div class="col-md">
              <button (click)="createConsumer()" type="button" [disabled]="!consumerForm.form.valid" class="btn btn-primary power-button navigation-next right">
                Next <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
