<div class="container">

  <div class="row">
    <div class="col-md">
      <h1>I have a Home</h1>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md">
      <span>Etherium Wallet ID</span>
    </div>
    <div class="col-md ">
      <input class="form-control" type="text" [(ngModel)]="formData.walletId" disabled>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md">
      <span>Home area</span>
    </div>
    <div class="col-md">
      <select class="form-control" [(ngModel)]="formData.areaCode">
        <option name="geo-area" *ngFor="let area of supportedAreas" [value]="area.code"
        >{{area.name}}</option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md">
      <span>Meter Id</span>
    </div>
    <div class="col-md">
      <input class="form-control" type="text" [(ngModel)]="formData.meterId">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md">
      <span>Home electricity consumption</span>
    </div>
    <div class="col-md">
      <input class="form-control" type="text" [(ngModel)]="formData.consumption">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md">
      <span>Home size</span>
    </div>
    <div class="col-md">
      <div class="col-md">
        <span *ngFor="let houseSize of supportedHouseSizes">
          <input type="radio"
                 [(ngModel)]="formData.houseSizeCode"
                 [value]="houseSize.code"
          >
          {{houseSize.description}}
        </span>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md">
      <button (click)="createConsumer()" type="button" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-md">
      <button routerLink="/landing"
              type="button"
              class="btn btn-secondary">Cancel</button>
    </div>
  </div>

</div>
