@import "../../../styles/shared/variables.scss";

.navigation-block {
  margin-top: 3.6em;
}

.container {
  background-color: $power-white;

  padding: 1.8em;
  width: 930px;

  h1 {
    font-family: 'Platform Web', 'Sans-serif';
    font-weight: bold;
    font-size: 56px
  }
}

.main-form-block {
  width: 600px;
  padding-top: 2.3em;
}

.form-control {
  padding: 1em;
  margin: 0.8em 0 1.6em 0;
  border: 0.2em solid $power-grey;
  border-radius: 0;
}

h6 {
  font-family: 'Roboto', Sans-serif;
  font-size: 17px;
}

.household-size-block {
  width: 710px;
}

#paging {
  text-align: right;
  padding-top: 2.1em;
}

.radio-toolbar {
  margin-top: 0.8em;
  width: 712px;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 222px;
  margin-right: 0.75em;
  border: 0.2em solid $power-grey;
  text-align: center;
  position: relative;
}

.radio-toolbar input[type="radio"]:checked + label {
  border: 0.2em solid $power-yellow;
}

.fa-home.size0 {
  font-size: 26px;
}

.fa-home.size1 {
  font-size: 32px;
}

.fa-home.size2 {
  font-size: 38px;
}

.icon-box[_ngcontent-c2] {
  background-color: #e0e0e0;
  width: 70px;
  height: 70px;
  margin: 0.2em 0.25em 0.2em 0.25em;
  padding: 1.3em;
  float: left;
}

.description {
  float: left;
  padding: 1.55em;

}

.navigation-block .form-group {
  margin-bottom: 0;
}
