<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-md-9">
        <h1>Register your household</h1>
      </div>
      <div class="col-md-3" id="paging">
        Step 1 of 2
      </div>
    </div>
    <form #consumerForm="ngForm">
      <div class="main-form-block">
        <h6>Ethereum Wallet ID</h6>
        <input class="form-control" [(ngModel)]="formData.walletId" name="walletId" disabled>

        <div>
          <h6>Household area</h6>
          <input mdInput
                 [mdAutocomplete]="auto"
                 [(ngModel)]="formData.areaName"
                 (keyup)="updateFilteredAreas(formData.areaName)"
                 class="form-control"
                 name="areaName"
                 #areaName="ngModel"
                 required>

          <div *ngIf="areaName.errors && (areaName.dirty || areaName.touched)"
             class="alert alert-danger">
          <div [hidden]="!areaName.errors.required">
            Household area is required
          </div>
        </div>
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let area of filteredAreas" [value]="area">
              {{ area }}
            </md-option>
          </md-autocomplete>
        </div>

        <h6>Meter ID</h6>
        <input class="form-control" [(ngModel)]="formData.meterId" name="meterId" required>
        <h6>Household electricity consumption</h6>
        <input class="form-control" [(ngModel)]="formData.consumption" name="consumption" #consumption="ngModel"
               required>
        <div *ngIf="consumption.errors && (consumption.dirty || consumption.touched)"
             class="alert alert-danger">
          <div [hidden]="!consumption.errors.required">
            Household electricity consumption is required
          </div>
        </div>

      </div>
      <div class="household-size-block">
        <h6>Household size</h6>
        <div class="radio-toolbar">
        <span *ngFor="let houseSize of supportedHouseSizes; let i = index">
          <input type="radio" name="radios" id="radio{{i}}"
                 [(ngModel)]="formData.houseSizeCode"
                 [value]="houseSize.code">
          <label for="radio{{i}}">
            <div class="icon-box">
              <i class="fa fa-home size{{i}}"></i>
            </div>
            <span class="description">
              {{houseSize.description}} m<sup>2</sup>
            </span>
          </label>
        </span>
        </div>
      </div>
      <div class="navigation-block">
        <div class="row form-group">
          <div class="col-md">
            <button routerLink="/landing" type="button" class="btn btn-primary power-button navigation-back left">
              <i class="fa fa-chevron-left fa-sm"></i><span>Back</span>
            </button>
          </div>
          <div class="col-md">
            <button (click)="createConsumer()" type="button" [disabled]="!consumerForm.form.valid" class="btn btn-primary power-button navigation-next right">
              Next <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
