@import "../../../styles/shared/variables.scss";

.container {
  padding-top: 10px;
  padding-bottom: 3px;
  background-color: $power-white;
}

.main-form-block {

  //margin-left: -14px;
  width: 600px;
}

h1 {
  font-weight: bold;
}

.household-size-block {
  padding-top: 8px;
  padding-bottom: 8px;
}

.text-field-heading {
  padding-bottom: 4px;
}

.btn {
  border: 0 solid transparent;
}

.container {
  width: 780px;
  padding: 30px 35px 35px 28px;
}

.content {
  padding: 0 0 0 0;
}

#back-button {
  color: $power-blue;
}

#next-button {
  background-color: $power-blue;
  border-radius: 0;
}

#paging {
  text-align: right;
}

.radio-toolbar {
  width: 600px;

}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  //padding: 11px 11px;
  font-size: 16px;
  cursor: pointer;
  height: 54px;
  width: 156px;
  margin-right: 4px;
  border: 2px solid $power-grey;
  text-align: center;
}

.radio-toolbar input[type="radio"]:checked + label {
  border: 2px solid $power-yellow;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 3em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-square.fa-stack-2x {
  color: $power-grey;
  font-size: 48px;
}

.fa-home.size0 {
  font-size: 18px;
}

.fa-home.size1 {
  font-size: 28px;
}

.fa-home.size2 {
  font-size: 36px;
}
