<div class="row">
  <div class="col-md-5">
    <div class="header-data-container left">
        <app-wallet-balance></app-wallet-balance>
    </div>
    <div class="header-data-container left">
      <div class="row">
        <div class="col-md ">
          <div class="row">
            <div class="col">
              Will be produced this week
            </div>
          </div>
          <div class="row">
            <div class="col header-data-info">
              {{producedTotal}} kWh
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col">
              Already sold this week
            </div>
          </div>
          <div class="row">
            <div class="col header-data-info">
              {{soldTotal}} kWh
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row header-data-container right">
      <div class="col-md-9">
        <div class="row">
          <div class="col">
            Market price vs your plant price, Eur/MWh
          </div>
        </div>
        <div>
          <canvas id="plant-dashboard-chart" baseChart height="182"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [colors]="lineChartColors"
                  [options]="lineChartOptions"
                  chartType="line"
                  ></canvas>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group set-price">
          <input class="form-control power-input set-price" type="text" (change)="calcPriceInEth()" [value]="price" (input)="price = $event.target.value">
          <span class="input-group-addon btn btn-primary power-button set-price" id="basic-addon1" (click)="setPrice()">Set price</span>
        </div>
        <div class="conversion-message">{{price}} EUR = {{priceEth}} ETH</div>
        <div class="chart-legend">
          <ng-container *ngFor="let data of lineChartData; let i = index">
            <span class="item" *ngIf="data.data.length > 0">
              <i [ngStyle]="{color: lineChartColors[i].borderColor}" class="fa fa-circle" aria-hidden="true"></i>
              <span class="label">{{data.label}}</span>
            </span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
