@import "../../../styles/shared/variables";

.header-data-container {
  background-color: $power-white;
  padding: 1.2em;
}
.header-data-container.right {
  margin: 0 1em 1em 0
}
.header-data-container.left {
  margin: 0 0em 1em 1em
}

.header-data-title {
  font-size: 16px;
}

.header-data-info {
  font-size: 34px;
}

.fa-circle {
  font-size: 10px;
}

.label {
  vertical-align: middle;
}

.input-group.set-price {
  top: 25px;
}

.power-input.set-price {
  border-color: $power-grey;
  border-width: 2px;
  border-radius: 0;
}

.power-input.set-price:active {
  border-width: 2px;
  border-color: $power-grey;
}

.power-button.set-price {
  font-size: 14px;
  color: $power-white;
  font-weight: 500;
}

.power-button.set-price:hover {
  cursor: pointer;

  background-color: $power-white;
  color: $power-blue;

  border-color: $power-blue;
}

.chart-legend {
  position: absolute;
  bottom: 25px;

  .item {
    padding: 5px;
  }

}


